<div class="row" id="funcMenu">
    <div class="span2">
        <a class="btn btn-block btn-primary" href="#/candidates/0">Add new</a>
    </div>

    <div class="span7">
        <div class="btn-group">
            <button type="button" class="btn"><i class="icon-cogs"></i></button>
            <button type="button" class="btn"><i class="icon-share"></i> Move to</button>
            <button type="button" class="btn"><i class="icon-trash"></i> Delete</button>
        </div>
    </div>
    <!-- TODO: 2Taras: seems that pagination is not working for candidates... -->
    <div class="span3">
        <pagination on-select-page="setPage" num-pages="pagesCount" current-page="currentPage" class="pagination pagination-right" first-text="&laquo;" last-text="&raquo;" max-size="4" boundary-links="false" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>
</div>
<div class="row">
    <div class="span2 sideMenu">
        <!-- TODO: hardcode is here -->
        <ul class="nav nav-side">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Favorites</a></li>
            <li class="nav-header">custom</li>
            <li><a href="#">Tech</a></li>
            <li><a href="#">Lang</a></li>
            <li><a href="#">Boobs</a></li>

        </ul>
    </div>
    <div class="span10" ng-controller="CandidateListCtrl">
        <table class="mainTable table table-striped table-bordered table-hover">
            <thead>
            <tr><th></th><th>id</th><th>name</th></tr>
            </thead>
            <tr ng-repeat="candidate in list">
                <td><input type="checkbox" ng-model="candidate.selected"></td>
                <td>{{candidate.Id}}</td>
                <td><a href="#/candidates/{{candidate.Id}}">{{candidate.Name}}</a></td>
            </tr>
        </table>
    </div>
</div>