<div class="row" id="mainDashboard">
    <div class="span8">
        <div class="dashBoardBox">
            <div class="inside">
                <div class="row">
                <div class="span4">
                   <h3><i class="icon-bar-chart"></i> My dashboard</h3>
                    <dl class="dl-horizontal dlDashBoardSmall">
                        <dt class="text-success">23</dt>
                        <dd class="text-success">Active projects</dd>
                        <dt class="text-warning">10</dt>
                        <dd class="text-warning">Applicants in progress</dd>
                        <dt>5</dt>
                        <dd>New applicants</dd>
                        <dt>5</dt>
                        <dd>New messages</dd>
                    </dl>
                </div>
                <div class="span4">
                   <h3><i class="icon-pushpin"></i> Reminders</h3>
                   <ul class="unstyled">
                       <li class="emptyMsg">No reminders now</li>
                   </ul>
                   <br/>
                   <h3><i class="icon-envelope"></i> Letters</h3>
                   <ul class="unstyled dashLetters">
                        <li class="new">
                            <a href="#">Yaroslav Sivachenko</a>
                            <span class="date">May 14, 2013</span>
                            <div class="msgContent">
                                Hi, thanks for interesting. I'll prepare everything and ...
                            </div>
                        </li>
                        <li>
                            <a href="#">Taras Farbun</a>
                            <span class="date">May 01, 2013</span>
                            <div class="msgContent">
                                No, thanks, I'm no longer interesting on this position.
                            </div>
                        </li>
                   </ul>

                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="dashBoardBox">
            <h3 class="handle"><i class="icon-lightbulb"></i> News from ReachMee</h3>
            <div class="inside">
                <ul class="newsBox unstyled">
                    <li>
                        <a href="#">Group your vacancies into Section</a>
                        <span class="newsDate">May 14, 2013</span>
                        <div class="newsSummary">
                            New job list lay-out now available. You can check out our tutorial to know more about new ReachMee features!
                        </div>
                    </li>
                    <li>
                        <a href="#">Recruitment tool linked to Facebook!</a>
                        <span class="newsDate">September 11, 2012</span>
                        <div class="newsSummary">
                            Our solution makes it easy to post jobs on your Facebook page via ReachMee, which is done with two clicks. This function facilitates the dissemination of published job advertisements in social media in order to attract more qualified candidates and strengthen your "Employer Brand".
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>