<div class="row" id="funcMenu">
    <div class="columns large-2">
        <a class="button small large-12" href="#/projects/0">Create project</a>
    </div>

    <div class="columns large-7">
        <ul class="button-group">
            <li><a class="small button secondary" ng-class="{disabled: !fmenu.func.active}" ng-click="fmenu.func.click();"><i class="icon-cogs"></i></a></li>
            <li><a class="small button secondary" ng-class="{disabled: !fmenu.move.active}" ng-click="fmenu.move.click();"><i class="icon-share"></i> Move to</a></li>
            <li><a class="small button secondary" ng-class="{disabled: !fmenu.lock.active}" ng-click="fmenu.lock.click();"><i class="icon-lock"></i> Lock</a></li>
        </ul>
    </div>


    <!-- TODO: 2Yaro: if you need change markup for paging, tell me, i'll do something for it. right now it is included into ui-bootstrap-tpls-....*.js. You still can change attributes in this tag. 
    Or play with css to improve its outfit. Or call me. Or come to me with Wiskey :D -->
    <pagination on-select-page="setPage" num-pages="pagesCount" current-page="currentPage" class="pagination-small" first-text="&laquo;" last-text="&raquo;" max-size="5" boundary-links="true" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <!-- TODO: 2Yaro: just for debug. You could remove it: -->
    pages: {{ pagesCount }}

    <!-- TODO: 2Yaro: old markup. You could remove it: -->

<!--    <div class="columns large-3">
        <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">43</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
    </div>-->
</div>

<div class="row">
    <filterbox apply="applyfilter(filtermessage)"></filterbox>

    <div class="columns large-10">
        <table class="mainTable table">
            <thead>
                <tr>
                    <th ng-repeat="column in grid.columns" ng-class="column.Type">{{column.Name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in list" id="item_{{project.Id}}">
                    <td class="cellCheckBox">
                        <input type="checkbox" ng-model="project.selected" ng-click="fmenu.init();"></td>
                    <td class="cellId">{{project.Id}}</td>
                    <td class="cellName"><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
                    <td class="cellNumber"><a href="#">{{0}}</a></td>
                    <td class="cellNumber"><a href="#/project/candidates/{{project.Id}}">{{3}}</a></td>
                    <!--<td><a ng-click="delete()"><i class="icon-remove"></i></a></td>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>
