<div class="row" id="funcMenu">
    <div class="span2"></div>
    <div class="span7">
        <div class="btn-group">
            <button class="btn"><i class="icon-cogs"></i></button>
            <button class="btn"><i class="icon-plus"></i> Candidate</button>
            <button class="btn"><i class="icon-lock"></i> Lock</button>
            <button class="btn" ng-click="Delete();"><i class="icon-trash"></i> Remove</button>
        </div>
    </div>
    <div class="span3"></div>
</div>

<div class="row">
    <div class="span2">
        <projectmenu />
        <!-- template located under: /partials/ui-elements/t-menu-project -->
    </div>

    <div class="span10">
        <div class="row">
            <div class="span6">
                <div class="dashBoardBox">
                    <h3 class="handle"><i class="icon-bar-chart"></i> Summary</h3>
                    <div class="inside">
                        <div class="row">
                            <div class="span3">
                                <h4>Content</h4>
                                <dl class="dl-horizontal dlDashBoardLarge">
                                    <dt>11</dt>
                                    <dd>Id</dd>
                                    <dt class="text-info">open</dt>
                                    <dd>status</dd>
                                    <dt><abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr></dt>
                                    <dd>created</dd>
                                    <dt><abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr></dt>
                                    <dd>updated</dd>
                                    <dt>1</dt>
                                    <dd>publishing</dd>
                                </dl>
                            </div>

                            <div class="span3">
                                <h4>Aplicants</h4>
                                <dl class="dl-horizontal dlDashBoardSmall">
                                    <dt>5</dt>
                                    <dd class="text-info">new</dd>
                                    <dt>10</dt>
                                    <dd class="text-warning">progress</dd>
                                    <dt>5</dt>
                                    <dd class="text-info">refused</dd>
                                    <dt>1<small>/5</small></dt>
                                    <dd class="text-success">success</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="dashBoardBox">
                    <h3 class="handle"><i class="icon-external-link"></i> Publishing</h3>
                    <div class="inside">
                            <div class="publishingsCardList">
                                <ul class="unstyled">
                                    <li>
                                        <i class="icon-home"></i>
                                        <a href="#">Site globesoft.se</a>
                                        <span>15<i class="icon-user"></i></span>
                                        <span class="dates">
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                             -
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="icon-facebook-sign"></i>
                                        <a href="#">Globesoft fb page</a>
                                        <span>15<i class="icon-user"></i></span>
                                        <span class="dates">
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                             -
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="icon-linkedin-sign"></i>
                                        <a href="#">LinkedIn</a>
                                        <span>15<i class="icon-user"></i></span>
                                        <span class="dates">
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                             -
                                            <abbr title="2013.11.08 3:28:44 PM">2013.11.08</abbr>
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <br/>
            <div class="span6">
                <div class="dashBoardBox">
                    <h3 class="handle"><i class="icon-group"></i> Aplicants</h3>
                    <div class="inside"></div>
                </div>
            </div>
        </div>

    </div>
</div>

