<div class="row" id="funcMenu">
    <div class="span2">
        <a class="btn btn-block btn-primary" href="#/projects/0">Create project</a>
    </div>

    <div class="span7">
        <div class="btn-group">
            <button type="button" class="btn" ng-class="{disabled: !fmenu.func.active}" ng-click="fmenu.func.click();"><i class="icon-cogs"></i></button>
            <button type="button" class="btn" ng-class="{disabled: !fmenu.move.active}" ng-click="fmenu.move.click();"><i class="icon-share"></i> Move to</button>
            <button type="button" class="btn" ng-class="{disabled: !fmenu.lock.active}" ng-click="fmenu.lock.click();"><i class="icon-lock"></i> Lock</button>
        </div>
    </div>

    <!-- TODO: 2Yaro: if you need change markup for paging, tell me, i'll do something for it. right now it is included into ui-bootstrap-tpls-....*.js. You still can change attributes in this tag. 
    Or play with css to improve its outfit. Or call me. Or come to me with Wiskey :D -->
    <div class="span3">
    <pagination on-select-page="setPage" num-pages="pagesCount" current-page="currentPage" class="pagination pagination-right" first-text="&laquo;" last-text="&raquo;" max-size="4" boundary-links="false" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>

    <!-- TODO: 2Yaro: just for debug. You could remove it: -->
    <!-- pages: {{ pagesCount }} -->
</div>

<div class="row">
    <div class="span2 sideMenu">
        <filterbox apply="applyfilter(filtermessage)"></filterbox>
    </div>


    <div class="span10">
        <table class="mainTable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="column in grid.columns" ng-class="column.Type">{{column.Name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in list" id="item_{{project.Id}}">
                    <td class="cellCheckBox">
                        <input type="checkbox" ng-model="project.selected" ng-click="fmenu.init();"></td>
                    <td class="cellId">{{project.Id}}</td>
                    <td class="cellName"><a href="#/projects/info/{{project.Id}}">{{project.Name}}</a></td>
                    <td class="cellNumber"><a href="#">{{0}}</a></td>
                    <td class="cellNumber"><a href="#/project/candidates/{{project.Id}}">{{3}}</a></td>
                    <!--<td><a ng-click="delete()"><i class="icon-remove"></i></a></td>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>
