<div class="row">
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="#projects">My projects</a> <span class="divider">/</span></li>
            <li class="active">project name <span class="divider">/</span></li>
            <li class="active">candidates</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span5 pageHeader"><h2>{{GlobalController.projectname}}</h2></div>
    <div class="span7"><projectmenu /></div>
</div>

<div class="row">
    <div class="span2">
        <ul class="nav-side">
            <li class="nav-header">Process folders</li>
            <li class="active"><a href="#">New candidates <span>5</span></a></li>
            <li><a href="#">Interview <span>1</span></a></li>
            <li><a href="#">Refusal <span>0</span></a></li>
            <li><a href="#">All <span>6</span></a></li>
            <li class="nav-header">Filter</li>
            <li><a href="#">Candidate</a></li>
            <li><a href="#">Priority</a></li>
            <li><a href="#">Email</a></li>
        </ul>
        <!-- template located under: /partials/ui-elements/t-menu-project -->
    </div>


    <div class="span10">
        <div class="row">
            <div class="span7">
                <div class="btn-group">
                    <button type="button" class="btn disabled"><i class="icon-cogs"></i></button>
                    <button type="button" class="btn"><i class="icon-plus"></i> Add Candidate</button>
                </div>
            </div>

            <div class="span3">
                <pagination on-select-page="setPage" num-pages="pagesCount" current-page="currentPage" class="pagination pagination-right" first-text="&laquo;" last-text="&raquo;" max-size="4" boundary-links="false" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
            </div>
        </div>
        <table class="mainTable table table-striped table-hover">
            <thead>
            <tr>
                    <th class="cellCheckBox"><input type="checkbox"></th>
                    <th class="cellId">Id</th>
                    <th class="cellName">Candidate</th>
                    <th class="">Source</th>
                    <th>Process</th>
                    <th class="">Points</th>
                    <th class="cellDate">Created</th>
                    <th class="cellDate">Updated</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">4</td>
                <td class="cellName"><a href="#/projects/{{projectId}}/candidates/1">Wayne Rooney</a></td>
                <td>external</td>
                <td class="cellNumber"><i class="icon-envelope"></i></td>
                <td class="cellNumber">0</td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
            </tr>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">3</td>
                <td class="cellName"><a href="project_candidate.html">Patrice Evra</a></td>
                <td>external</td>
                <td class="cellNumber"><i class="icon-envelope"></i></td>
                <td class="cellNumber">0</td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
            </tr>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">2</td>
                <td class="cellName"><a href="project_candidate.html">Rio Ferdinant</a></td>
                <td>external</td>
                <td class="cellNumber"><i class="icon-envelope"></i></td>
                <td class="cellNumber">0</td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
            </tr>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">1</td>
                <td class="cellName"><a href="project_candidate.html">David de Gea</a></td>
                <td>external</td>
                <td class="cellNumber"><i class="icon-envelope"></i></td>
                <td class="cellNumber">0</td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
            </tr>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">0</td>
                <td class="cellName"><a href="project_candidate.html">Chicharito Hernandez</a></td>
                <td>external</td>
                <td class="cellNumber"><i class="icon-envelope"></i></td>
                <td class="cellNumber">0</td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
                <td><abbr class="secondary" title="2013.11.08 3:28:44 PM">2013.11.08</abbr></td>
            </tr>
            </tbody>
        </table>
        <!--
        <table class="mainTable table table-striped table-hover">
            <thead>
            <tr>
                <td class="cellCheckBox"><input type="checkbox"></th>
                    <th class="cellId">Id</th>
                    <th class="cellName">Candidate</th>
                    <th class="">Source</th>
                    <th class="">Status</th>
                    <th class=""><i class="icon-tags"></i></th>
                    <th class="cellDate">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="applicant in list" id="_i_{{applicant.Id}}">
                <td class="cellCheckBox"><input type="checkbox"></td>
                <td class="cellId">{{applicant.Id}}</td>
                <td class="cellName">
                    <a href="#/projects/{{projectId}}/candidates/{{applicant.Id}}">{{applicant.Name}} {{applicant.Lastname}}</a>
                    <div class="rowActions">
                        <span class="edit"><a href="#">edit</a></span>
                        |
                        <span class="note"><a href="#">add note</a></span>
                        |
                        <span class="remove"><a ng-click="remove(this);">remove</a></span>
                    </div>
                </td>
                <td>{{applicant.Sate}}</td>
                <td>
                    new
                    <br/><abbr class="secondary" title="{{applicant.Created}}">{{applicant.Created}}</abbr>
                </td>
                <td>0</td>
                <td class="cellDate">
                    <abbr title="{{applicant.Created}}">{{applicant.Created}}</abbr>
                    <br/><span class="secondary">Arrived</span>
                </td>
            </tr>
            </tbody>
        </table>
        -->
    </div>



    <div class="span10">

    </div>
</div>

