<ul class="nav-tabs nav">
    <li activelink="#/projects/info"><a href="#/projects/info/{{Id}}">Description</a></li>
    <li activelink="#/projects/procedure"><a href="#/projects/procedure/{{Id}}">Advertisement</a></li>
    <li activelink="#/projects/procedure"><a href="#/projects/procedure/{{Id}}">Procedure</a></li>
    <li activelink="#/projects/publishing"><a href="#/projects/publishing/{{Id}}">Publishing</a></li>
    <li activelink="#/projects/50/candidates"><a href="#/projects/{{Id}}/candidates">Candidates</a></li>
</ul>
