<ul class="nav nav-side">
    <!-- Default lists -->
    <li activelink="#/projects/dashboard"><a href="#/projects/dashboard/{{Id}}">Dashboard</a></li>
    <li class="divider"></li>
    <li activelink="#/projects/info"><a href="#/projects/info/{{Id}}">Info</a></li>
    <li activelink="#/projects/procedure"><a href="#/projects/procedure/{{Id}}">Procedure</a></li>
    <li activelink="#/projects/publishing"><a href="#/projects/publishing/{{Id}}">Publishing</a></li>

    <!-- TODO: 2Taras: candidate list(s) should be done :) -->
    <li class="nav-header">Candidates</li>
    <li><a href="#">New <span>6</span></a></li>
    <li><a href="#">Big boobs <span>0</span></a></li>
    <li><a href="#">Refused <span>14</span></a></li>
    <li><a href="#">All <span>20</span></a></li>
</ul>
