<header id="header">
    <div class="contain-to-grid fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="index.html">ReachMee</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
           <ul class="left">
               <li class="divider"></li>
               <li><a href="#/projects">Projects</a></li>
               <li><a href="#/candidates">Candidates</a></li>
               <li><a href="#">Management</a></li>
           </ul>
            <ul>
                <li class="has-form">
                   <form id="search">
                       <div class="row collapse">
                           <div class="small-10 columns">
                               <input class="search" type="search">
                           </div>
                           <div class="small-2 columns">
                               <button class="button prefix" type="submit">Search</button>
                           </div>

                       </div>
                   </form>
                </li>
            </ul>
            <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown"><a href="#">Admin</a>
                    <ul class="dropdown">
                        <li><a href="#">Change password</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>

                </li>
            </ul>
        </section>
    </nav>
    </div>
</header>
