/*!
   ReachMee lite v. 0.1
   @yaroslav.sivachenko
 */

// Bootstrap suff
@import "less/bootstrap";

body {
  padding-top: 40px;
}

#funcMenu {
  margin-bottom: 15px;
}

#header .input-append {
  margin-bottom: 0;
}

.projectTitle, .candidateTitle {
  line-height: 20px;
  font-size: 20px;
  padding: 5px 0 0;
  margin: 0;
  small {
    font-size: 13px;
  }
}

.projectData, .candidateData {
  .projectField {
    margin: 0;
    line-height: 16px;
    display: block;
    &.empty {
      color: @grayLight;
    }
  }

  small {
    color: @grayLight;
  }

  label {
    color: @grayLight;
    font-size: 85%;
  }

  h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    border-bottom: 1px solid @grayLighter;
    text-transform: uppercase;
    text-align: right;
    color: @gray;
    margin-top: 0;
  }

  .unstyled li {
    margin-bottom: 5px;
  }

  address {
    margin-bottom: 0;
  }

  .thumbnail {
    background-color: @white;
    width: 150px;
    &.left {
      margin-right: 10px;
      float: left;
    }

    &.right {
      margin-left: 10px;
      float: right;
    }
  }

  .form-actions {
    clear: left;
  }
}

.infoBox {
  border: 1px solid @grayLighter;
  padding: 19px 19px 14px;
  position: relative;
  background-color: @white;
  font-size: 12px;
  margin-bottom: 10px;
  .infoLabel {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 3px 7px;
    border: 1px solid @grayLighter;
    color: @gray;
    font-size: 11px;
    line-height: 12px;
    background-color: #F5F5F5;
  }

  .dl-horizontal {
    dd {
      margin-left: 65px;
    }

    dt {

      width: 55px;
    }
  }

  &.candidateCardList {
    padding: 25px 0px 0px;
  }
}

.candidateCardList {
    li {
      display: block;
      position: relative;
      padding-left: 28px;
      padding-right: 4px;
      background-color: #F3F3F3;
      border-bottom: 1px solid @grayLighter;
      margin-bottom: 1px;

      a {
        color: @textColor;
        display: block;
        &:hover {
          text-decoration: none;
        }

        span {
          font-size: 85%;
        }
      }

      i {
        position: absolute;
        line-height: 41px;
        font-size: 17px;
        margin-left: -25px;
        color: @grayLight;
      }

      img {
        position: absolute;
        top:0;
        left:2px;
        height: 100%;
        display: none;
      }

      &:hover {
        background-color: @grayLighter;
      }

    }
}

.publishingsCardList {
  abbr {
    border: none;
  }

  li {
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 4px;
    border-bottom: 1px solid @grayLighter;
    margin-bottom: 1px;
    color: @gray;

    > i {
      position: absolute;
      line-height: 38px;
      font-size: 16px;
      margin-left: -27px;
      color: #BDBDBD;
    }

    span {
      font-size: 12px;
      &.dates {
        display: block;
      }
    }



  }
}

.dashBoardBox {
  border: 1px solid @grayLighter;
  background-color: #F7F7F7;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;

  .handle {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px 5px;
    font-weight: normal;
    .gradientBar(@tableHeaderBackgroundHighlight, @tableHeaderBackground, @grayDark, none);
    border-bottom: 1px solid #DFDFDF;
  }

  .inside {
    padding: 10px;
    font-size: 14px;

    h3, h4 {
      font-size: 18px;
      color: @gray;
      font-weight: normal;
      border-bottom: 1px solid @grayLighter;
      padding-left: 5px;
      line-height: 28px;

    }

    .span3 { width: 45%; }

    .span4 { width: 45%; }

    dd, dt {
      line-height: 30px;

    }

    .dlDashBoardLarge {
      color: @infoText;
      dt { width: 80px; }
      dd { margin-left: 90px; }
    }

    .dlDashBoardSmall {
      color: @infoText;
      dt { width: 25px; }
      dd { margin-left: 35px; }
    }

    .newsBox {
      li {margin-bottom: 20px;}
      .newsDate {
        font-size: 12px;
        color: @grayLight;
      }

      .newsSummary {
        font-size: 13px;
      }
    }

    .dashLetters {
      li {
        margin-bottom: 10px;
        border-bottom: 1px solid @grayLighter;
      }
      .date {
        color: @grayLight;
        font-size: 12px;
      }

      .msgContent {
        font-size: 13px;
      }
    }
  }
}

#footer {
  padding: 50px 0 30px;
  margin-top: 70px;
  border-top: 1px solid #DFDFDF;
  text-align: center;
  background-color: #F7F7F7;
  color: #929292;
  //color: @grayLight;
  .copyright {
    margin-top: 50px;
    font-size: 12px;
  }
}

#mainBox {
  margin-top: 5px;
}

.pageHeader {
  h2 {
    line-height: 39px;
    font-size: 23px;
    color: @gray;
    margin: 0;
  }
}

// @import "less/responsive";