    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">ReacMee <small>light</small></a>
          <div class="nav-collapse collapse">
            <form class="navbar-form pull-right">
              <input class="span3" type="text" placeholder="Search..." />
              <span href="#" class="white">super admin</span>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>